<h1>Simple website!</h1>
<hr>
If you can read this, it means that you have mounted wrong directory on your web-root.<br>
All HTML/PHP files are under <a href=htdocs>htdocs</a> directory. Therefore you need to mount the htdocs directory on your web-root mount point.<br>
<p>
<p>
<p>
<p>
